<html>
<head>
	<title>Recaptcha3</title>
	<script src="https://testuphttps.herokuapp.com/api.js"></script>
</head>
<body>

        Recaptcha 3 Form
        <br />

<script>
   function onSubmit(token) {
     console.log("Test");
     document.getElementById("demo-form").submit();
   }
 </script>

    <form id='demo-form' method='POST'>
     <button class="g-recaptcha"
       data-sitekey="6LfKvrMZAAAAAANCpRz3YR8PzHREf98q0zABF7hq"
       data-callback="onSubmit" 
       data-action="submit">Submit</button>
    </form>

</body>

</html>

